<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="about-headline">
        <h1>About us</h1>
    </div>
    <div class="about-who">
        <h1>Who we are</h1>
        <p>As the franchisor of the largest Take ‘n' Bake pizza brand, we aim to provide our guests with unparalleled service, quality, and innovation
            so they can create the best at-home meal experience. We also believe that pineapple belongs on pizza.
            In fact, we believe whatever you want on your pizza belongs on your pizza!</p>
    </div>
    <div class="about-what">
        <h1>What we stand for</h1>
        <div class="stand-for-box">
            <div class="what-card">
                <div class="about-what-image"><img src="images/about/quality.svg" alt=""></div>
                <h3>Quality</h3>
                <p>We hold ourselves to uncompromising standards so we can continue to create the best products.</p>
            </div>
            <div class="what-card">
                <div class="about-what-image"><img src="images/about/service.svg" alt=""></div>
                <h3>Service</h3>
                <p>We create positive experiences while being empathetic to guests and each other.</p>
            </div>
            <div class="what-card">
                <div class="about-what-image"><img src="images/about/integrity.svg" alt=""></div>
                <h3>Integrity</h3>
                <p>We're genuine in our interactions and work as a team while holding ourselves accountable to guests and each other.</p>
            </div>
            <div class="what-card">
                <div class="about-what-image"><img src="images/about/teamwork.svg" alt=""></div>
                <h3>Teamwork</h3>
                <p>We’re less interested in “me” and more focused on “WE” in whatever we do.</p>
            </div>
        </div>
    </div>
    <div class="upto">
        <div class="upto-header">
            <h1>What we're up to</h1>
        </div>
        <div class="upto-card">
            <h1>We're one of Vietnam's Best Pizza Chains</h1>
            <p>VnExpress named us one of Vietnam's Best Pizza Chains in 2022.</p>
            <button type="button"><a href="#" ng-click="goTop()">Check it out</a></button>
        </div>
        <div class="upto-card">
            <h1>Our Pizza is one and only</h1>
            <p>You can't find the flavor of our pizza anywhere.</p>
            <button type="button"><a href="#!menu" ng-click="goTop()">Take a look</a></button>
        </div>
        <div class="upto-card">
            <h1>We're making Guests happy</h1>
            <p>Our Guests enjoys our food.</p>
            <button type="button" ng-click="gotoAnchor('review-anchor')"><a href="#!Allreview">Check review</a></button>
        </div>
    </div>
    <div class="about-why">
        <div class="about-why-text">
            <h1>Why choosing us?</h1>
            <p>Fresh, delicious pizza prepared by us.</p>
            <button type="button"><a href="#!menu" ng-click="goTop()">Start order</a></button>
        </div>
        <div class="about-why-image">
            <img src="images/logo.png" alt="">
        </div>
    </div>
</body>
</html>